*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    height: 3.8rem;
    background-color: #120b23;
    color: aliceblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.nav-div{
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

.pages ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 19px;
}

.active {
    color: rgb(32, 32, 255);
}

.pages ul li{
    list-style: none;
    padding-left: 0.5rem;
    transition: all 0.3s ease-in;
}


.pages ul li:hover{
    scale: 1.05;
}

.nav-div button{
    padding: 10px 15px;
    font-weight: 400;
    letter-spacing: 0.2mm;
    background-color: #0a41cd;
    color: aliceblue;
    border: none;
    border-radius: 6px;
    transition: all 0.3s linear;
}

.nav-div button:hover{
    background-color: #115f17;
    scale: 1.05;
}


